.menu-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1C2B35 ;
}
.logo h2{
    color: #fff;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
    color: #fff;
}
.menu a:hover{
    color: orange;
}
