
.user-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 400px;
    box-shadow: 0px 5px 5px rgba(122, 217, 255, 0.494);
    margin-top: 50px;
    margin: auto;
    border-radius: 10px;
    border-top-left-radius: 150px;
}
.email{
    padding: 10px;
    flex-direction: column;
    display: flex;
}
.email input {
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid lightgrey
}
.password{
    padding: 10px;
    flex-direction: column;
    display: flex;
    margin-bottom: 20px;
}
.password input {
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}
.submit-button{
    background-color: rgba(135, 206, 250, 0.795);
    padding: 7px 20px;
    font-size: 18px;
    color: #fff;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.submit-button:hover{
    background-color: #87cefa;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line p{
    padding: 0 10px;
}
.line-1{
    border: 1px solid gray;
    width: 100px;
    height: 0px;
}
.line-2{
    border: 1px solid gray;
    width: 100px;
    height: 0;
}
.switch-user{
    color: gray;
    margin: 10px 0;
    text-decoration: none;
}
.switch-user:hover{
    color: lightgrey;
    text-decoration: underline;
}